In [3]:
x=5
y=7
r=x+y
print(r)

12

In [6]:
v=('my name is vicky')
print(v)

my name is vicky

In [7]:
a={'w':[7,5,8,9],'z':[8,4,6,7]}
print(a)

{'w': [7, 5, 8, 9], 'z': [8, 4, 6, 7]}

In [8]:
import pandas as pd

In [9]:
b=pd.DataFrame(a)
b

   w  z
0  7  8
1  5  4
2  8  6
3  9  7

In [61]:
sum=0
number = [1,5,6,8,2,4,9]
for i in number:
    sum = sum + i
print('sum of total number',sum)

sum of total number 35

In [62]:
sum=0
for i in range (11):
    sum= sum + i
print(sum)

55

In [67]:
n=int(input('enter the number from user to print table:'))
for i in range(1,11):
    print(n*i,)

enter the number from user to print table:5
5
10
15
20
25
30
35
40
45
50